<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        Id="1" photoCover="assets/nova_house.jpg" cardTitle="Reforma casa da Catas Altas"
            cardDescription="A casa recebeu reforma no telhado, onde antes existia telhas de amianto tipo eternit.">
        </app-big-card>

    </div>
    <div class="articles__others">

        <app-small-card 
        Id="2" cardTitle="h.comp.html" photoCover="assets/old_house.jpg"></app-small-card>
        <app-small-card 
        Id="3" cardTitle="h.comp.html" photoCover="assets/reform.jpg"></app-small-card>
        <app-small-card 
        Id="4" cardTitle="h.comp.html" photoCover="assets/reform1.jpg"></app-small-card>
    </div>

</div>